<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Speech Recognition in Python</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}" />
</head>
<body>
<div align="center" id="speechContainer">
    <h1 align="center">SPEECH TRANSLATOR</h1>
    <div align="center" id="result">
        <form method="post">
            <input onclick="startConverting();" type="submit" id="submitButton" value="start"/>
        </form>
    </div>

    {% if transcript != "" %}
        <div align="center" id="speechTranscriptContainer">
            <h3>Transcript</h3>
            <p id="speechText">{{ transcript }}</p>
        </div>
    {% endif %}

    {% if is_spoof != "" %}
        <div align="center" id="spoofJudgeContainer">
            {% if is_spoof == "Spoof!" %}
                <h1 style = "color:red" id="judgeText">{{ is_spoof }}</h1>
            {% endif %}
            {%if is_spoof == "Bonafide" %}
                <h1 style = "color:green" id="judgeText">{{ is_spoof }}</h1>
            {% endif %}
            <h3>with {{ confidence }}% confidence</h3>
        </div>
    {% endif %}

</div>
</body>
</html>